{% extends "layout.html" %}

{% block title %}
    Make Quiz
{% endblock %}

{% block main %}
    <form action="/make" method="POST">
          <center>
            <div class="card mb-3" style="width: 33rem;">
              <div class="card-body">
                <h5 class="card-title">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter question:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="question">
                  </div>
                </h5>
                <div class="mb-3">
                  Option 1: <input type="text" class="form-control" name="option1"><br>
                  Option 2: <input type="text" class="form-control" name="option2"><br>
                  Option 3: <input type="text" class="form-control" name="option3"><br>
                  Option 4: <input type="text" class="form-control" name="option4"><br>
                  Correct Answer: <input type="text" class="form-control" name="correct"><br>
                </div>
              </div>
            </div>
          </center>

          <div class="vstack gap-2 col-md-5 mx-auto ">
            <button type="submit" class="btn btn-secondary" name="add">Add Question</button>
            <button type="submit" class="btn btn-outline-secondary" name="done">back</button>
          </div>
    </form>
{% endblock %}